<ng-sidebar-container style="height: 100vh;">

  <ng-sidebar [(opened)]="_opened" position="right">
    <h2 class="sidebarTitle">{{ 'sidebar.title' | translate }}</h2>
    <ul class="cells">
      <li *ngFor="let cell of cells"
      [class.selected]="cell === selectedCell"
      (click)="onSelect(cell)">
       <span class="badge">{{cell.id}}</span> {{cell.location}}
      </li>
    </ul>
  </ng-sidebar>

  <div ng-sidebar-content>
    <button (click)="_toggleSidebar()">Toogle sidebar</button>
    <app-cell-detail [cell]="selectedCell"></app-cell-detail>
  </div>

</ng-sidebar-container>
