<ng-sidebar-container style="height: -webkit-fill-available; width: -webkit-fill-available;">

  <ng-sidebar [(opened)]="_opened" position="right">
    <h2 class="sidebarTitle">{{ 'sidebar.title' | translate }}</h2>
    <ul class="cells">
      <li *ngFor="let cell of (cells | async)">
        <a routerLink="/cell/{{cell.id}}">
          <span class="badge">{{cell.id}}</span> {{cell.location}}
        </a>
      </li>
    </ul>
  </ng-sidebar>

  <div ng-sidebar-content>
    <button (click)="_toggleSidebar()">Toogle sidebar</button>
    <app-cell-detail [cell]="selectedCell" [plotData]="plotData"></app-cell-detail>
  </div>

</ng-sidebar-container>
